<p id="notice"><%= notice %></p>
<%= link_to "Log out", customer_log_out_path%>
<div class="panel panel-default">
  <div class="panel-heading">Your bookings</div>
   <div class="panel-body">
     <table border="2" class="table table-hover table-striped">
       <tr>
         <th>Date</th>
         <th>Cleaner name</th>
         <th>City</th>
       </tr>
       <%@bookings.each do |booking| %>
        <tr>
          <td>
            <%=booking.datetime %>
          </td>
          <td>
            <%=booking.cleaner.first_name + " " + booking.cleaner.last_name%>
          </td>
          <td>
            <%=booking.city.city_name%>
          </td>
        </tr>
      <%end%>
    </table>
  </div>
</div>
<%= link_to "New Booking",new_booking_path%>
