<h3>customer name : <%=@customer.first_name%> <%=@customer.last_name%></h3>
<h3>Customer phone number : <%=@customer.phone_number%></h3>
<h3>City : <%=@city.city_name%></h3>
<h3>Date and time : <%=@booking.datetime%></h3>
