<div class="panel-body">
<%= form_for(@cleaner) do |f| %>
  <% if @cleaner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cleaner.errors.count, "error") %> prohibited this cleaner from being saved:</h2>
      <ul>
      <% @cleaner.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 <p class="error_message">
  <%=flash[:cleaner_notice]%>
</p>
  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :quality_score %><br>
    <%= f.text_field :quality_score %>
  </div>
  <div class="field">
    <% @cities.each do |city| %>
      <%if @selected_cities != nil %>
        <%if @selected_cities.pluck(:city_id).include?(city.id)%>
          <%= check_box_tag 'city_ids[]', city.id, checked:true %>
        <%else%>
            <%= check_box_tag 'city_ids[]', city.id%>
        <%end%>
      <%else%>
        <%= check_box_tag 'city_ids[]', city.id %>
      <% end %>
      <%= city.city_name %>
    <%end%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
</div>
