<%=link_to "Home" ,admins_path%>
<%= link_to "Log out", destroy_admin_session_path, method: :delete%>
<div class="panel panel-default">
   <div class="panel-heading">Editing Cleaner</div>
    <%= render 'form'%>

<%= link_to 'Show', @cleaner %> |
<%= link_to 'Back', cleaners_path %>
