<%=link_to "Cleaners" ,cleaners_path%>
<table border="2">
  <tr>
    <th colspan="5" align="center">
      Bookings
    </th>
  </tr>
  <tr>
    <th>Date</th>
    <th>Customer name</th>
    <th>Customer phone_number</th>
    <th>Cleaner name</th>
    <th>City</th>
  </tr>
<%@bookings.each do |booking|%>
  <tr>
    <td>
      <%=booking.date%>
    </td>
    <td>
      <%=booking.customer.first_name + " " + booking.customer.last_name%>
    </td>
    <td>
      <%=booking.customer.phone_number%>
    </td>
    <td>
      <%=booking.cleaner.first_name + " " + booking.customer.last_name %>
    </td>
    <td>
      <%=booking.city.city_name%><br />
    </td>
  </tr>
<%end%>
</table>
